/src
/node_modules
package-lock.json
bun.lock
.github

.env
.DS_Store

tsconfig.json
tsconfig.test.json
tsup.config.ts
vitest.config.ts

tests/
*.test.ts
*.md
*.bench.ts
*.fixture.ts
*.helper.ts
*.util.ts
*.type.ts
*.interface.ts
*.enum.ts
*.constant.ts
*.config.ts

# Environment variables
.env

# OS files
.DS_Store

# Git files
.gitignore
